.find .find__options {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
}

.find__options .find_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.find__options i {
    margin-bottom: 15px;
}