.top-header--transparent {
    background-color: transparent;
}

.profile .profile__header {
    position: relative;
    height: 80vh;
    background-color: red;
    width: 100%;
    top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.profile__header .profile__header-container {
    text-align: center;
    position: relative;
    bottom: -60px;
}

.profile__header-container img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}